In [4]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import csv
import dateutil

In [5]:
sns.set_style("whitegrid")
sns.set_color_codes("muted")

tips = sns.load_dataset("tips")

In [7]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
rows = tips.values.tolist()

In [9]:
rows[0]

[16.99, 1.01, 'Female', 'No', 'Sun', 'Dinner', 2]

In [10]:
gender = map(lambda x: x[2], rows)

In [12]:
gender[:10]

['Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Male',
 'Male',
 'Male']

In [13]:
pairs = map(lambda x: (int(x == 'Male'), int(x == 'Female')), gender)

In [16]:
pairs[:3]

[(0, 1), (1, 0), (1, 0)]

In [14]:
reduce(lambda x, y: (x[0]+y[0], x[1]+y[1]), pairs)

(157, 87)

In [29]:
day = map(lambda x: x[4], rows)

In [30]:
def reducer(x, y):
    x[y] = x.get(y, 0)+1
    return x
counts = reduce(reducer, day, {})

In [31]:
counts

{'Fri': 19, 'Sat': 87, 'Sun': 76, 'Thur': 62}

## Find the first ride of the day

In [23]:
import csv
import dateutil
import pandas

In [35]:
Y = None
def checkDate(x):
    global Y
    d = dateutil.parser.parse(x['starttime']).day
    if d != Y:
        Y = d
        return True
    return False

filename = 'citibike.csv'
with open(filename, 'r') as fi:
    reader = csv.DictReader(fi)
    values = filter(checkDate, reader)

In [38]:
[i['birth_year'] for i in values]

['1978', '1992', '1982', '1969', '1971', '1989', '1963']

In [48]:
import multiprocessing as mp
import pyproj
from timeit import default_timer
proj = pyproj.Proj(init = 'epsg:2263', preserve_unit = True)
def projection():
    return proj(float(row['start_station_longitude']),
                float(row['start_station_latitude']))

pool = mp.Pool(processes=2)

filename = 'citibike.csv'
with open(filename, 'r') as fi:
    reader = csv.DictReader(fi)
    start = default_timer()
    coords = pool.map(checkDate, reader)
    end = default_timer()
    print 'Time', end-start

Time 4.74693107605